.Form {
  margin-left: 1rem;
}
li {
  list-style: none;
  display: flex;
  align-items: baseline;
}
.contact {
  margin-right: 5px;
}
.custom-btn-toolbar {
  display: inline !important;
}

.custom-btn-toolbar > .btn {
  margin-right: 1rem;
  margin-top: 0.5rem;
}
.mainContainer {
  padding-top: 100px;
  padding-bottom: 5px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #fff;
  border: 1px solid #ececec;
  display: flex;
}
.UserMenu {
  justify-content: center;
}
.naviation {
  align-items: center;
  margin-right: auto;
}
.AuthNav {
  margin-right: auto;
}
