.Form {
  margin-left: 1rem;
}

.hedders {
  margin-bottom: 50px;
  margin-left: 1rem;
}

li {
  list-style: none;
  display: flex;
  margin-top: 10px;
}
.button {
  margin-left: 5px;
}
.ml {
  margin-left: 30px;
}
.ml5 {
  margin-left: 5px;
}
.ContactList {
  margin-top: 10px;
}
.UserMenu {
  position: absolute;
  right: 10px;
}
.custom-btn-toolbar-contact {
  display: inline !important;
  position: absolute;
  right: 10px;
  top: 50px;
}
.custom-btn-toolbar {
  display: inline !important;
  position: absolute;
  right: 10px;
}

.custom-btn-toolbar > .btn {
  margin-right: 1rem;
  margin-top: 0.5rem;
}
